<div class="row">
    <div class="col-md-12">
        <nav aria-label="breadcrumb" role="navigation">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="#">Model</a></li>
              <li class="breadcrumb-item active" aria-current="page">Architecture</li>
            </ol>
          </nav>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <section class="card"
            style="min-height: 200px; height:auto; padding: 20px; background-color: #f4f4f4; border: 1px solid #ccc; border-radius: 5px;">
            <p style="margin-top: 5px; font-weight: bold;">PreProcessing Architecture Here</p>
            <div class="col-md-2" id="preprocessing-arch-card">

            </div>
        </section>
        <section class="card"
            style="min-height: 200px; height:auto; padding: 20px; background-color: #f4f4f4; border: 1px solid #ccc; border-radius: 5px;">
            <p style="margin-top: 5px; font-weight: bold;">Main Model Architecture Here</p>
            <div class="col-md-2" id="dense-arch-card">

            </div>
        </section>
        <section class="card"
            style="min-height: 200px; height:auto; padding: 20px; background-color: #f4f4f4; border: 1px solid #ccc; border-radius: 5px;">
            <p style="margin-top: 5px; font-weight: bold;">Complete Model Architecture Here</p>
            <div class="row">
                <div class="col-md-12" id="final-arch-card">

                </div>
            </div>
        </section>
    </div>
</div>