<div class="row">
    <div class="col-md-12">
        <nav aria-label="breadcrumb" role="navigation">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">Model</li>
                <li class="breadcrumb-item active" aria-current="page">Architecture</li>
            </ol>
        </nav>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="card mb-3" id="preprocessing-arch-card">
            <!-- add image here dynamically -->
            <div class="card-body">
                <h4 class="card-title">Preprocessing Architecture</h4>
                <p class="card-text">Upon Completion of Training, Preprocessing Architecture of the best model is shown here</p>
                
            </div>
        </div>
        <div class="card mb-3" id="dense-arch-card">
            <!-- add image here dynamically -->
            <div class="card-body">
                <h4 class="card-title">Main Architecture</h4>
                <p class="card-text">After Training Completion, the best model's Primary Working Model Architecture is shown here</p>
                
            </div>
        </div>
        <div class="card mb-3" id="final-arch-card">
            <!-- add image here dynamically -->
            <div class="card-body">
                <h4 class="card-title">Complete Architecture</h4>
                <p class="card-text">Upon Training Completion, Explore Your Overall Architecture of the best model</p>
                
            </div>
        </div>
    
    </div>
</div>