<div class="py-5 text-center parallax cover gradient-overlay">
    <div class="container d-flex flex-column">
        <div class="row my-auto">
            <div class="col-md-12 text-black">
                <h1 class="mb-3 display-1"><b>Explainable AutoML</b></h1>
                <h3 class="mb-5">Explore your AutoML model with ease</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="team-player">
                    <div class="icon">
                        <a href="#" class="btn btn-primary btn-icon btn-round"><i class="fas fa-stream" style="color: #ffffff; font-size: large; padding: 3px;"></i></a>
                    </div>
                    <h4 class="title">Live Training</h4>
                    <!-- <p class="category text-primary">Model</p> -->
                    <p class="description">Watch Your AutoML Model Training Unfold in Real-Time!</p>
                    
                </div>
            </div>
            <div class="col-md-4">
                <div class="team-player">
                    <div class="icon">
                        <a href="#pablo" class="btn btn-primary btn-icon btn-round"><i class="fas fa-step-forward" style="color: #ffffff; font-size: large; padding: 3px;"></i></a>
                    </div>
                    <h4 class="title">Automl Pipeline</h4>
                    <!-- <p class="category text-primary">Model</p> -->
                    <p class="description">Gain Insightful Perspectives on the Diverse Steps of AutoML, Right as They Happen!</p>
                    
                </div>
            </div>
            <div class="col-md-4">
                <div class="team-player">
                    <div class="icon">
                        <a href="#pablo" class="btn btn-primary btn-icon btn-round"><i class="fa-solid fa-diagram-project" style="color: #ffffff; font-size: large; padding: 3px;"></i></a>
                    </div>
                    <h4 class="title">Explore Features</h4>
                    <!-- <p class="category text-primary">Model</p> -->
                    <p class="description">Discover the Secrets: Unveil the Features Leveraged by AutoML Models!</p>
                    
                </div>
            </div>
        </div>
    </div>
</div>