<!-- templates/base.html -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
        type="text/css">
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/css/bootstrap-datepicker.standalone.min.css">
    <link rel="stylesheet" href=" https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <script type="text/javascript" src="https://unpkg.com/vis-network/standalone/umd/vis-network.min.js"></script>
    <script type="text/javascript" src="https://unpkg.com/default-passive-events"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/now-ui-kit.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/nucleo-icons.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}" type="text/css">
    <!-- <script src="{{ url_for('static', filename='js/navbar-ontop.js') }}"></script> -->
    <link rel="icon" href="https://templates.pingendo.com/assets/Pingendo_favicon.ico">
    <title>AutoML Explainability</title>
    <script src="https://d3js.org/d3.v7.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.1.3/socket.io.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="{{ url_for('static', filename='js/common.js') }}"></script>
    <script src="{{ url_for('static', filename='js/backend.js') }}"></script>

</head>

<body>
    <div id="sidebar">
        <a href="#home-section">Home</a>
        <div class="dropdown">
            <button class="dropdown-btn">Model</button>
            <div class="dropdown-container">
                <a href="#training-section">Training</a>
                <a href="#architecture-section">Architecture</a>
            </div>
        </div>
        <div class="dropdown">
            <button class="dropdown-btn">Explanations</button>
            <div class="dropdown-container">
                <a href="#preprocessing-section">Preprocessing</a>
                <a href="#tuner-section">Tuner</a>
                <a href="#architecture-section">Features</a>
            </div>
        </div>
        <a href="">Benchmark</a>
    </div>
    <div id="navbar">
        <div class="navbar-content">
            <a href="/" class="brand-logo">MyApp</a>
            <nav class="navbar-nav">
                <!-- <a href="/dashboard">Dashboard</a>
                    <a href="/settings">Settings</a>
                    <a href="/help">Help</a> -->
            </nav>
            <div class="navbar-user">
                <!-- <img src="path_to_profile_image.jpg" alt="User" class="user-image">
                    <span class="user-name">John Doe</span> -->
            </div>
        </div>
    </div>


    <div id="main-content" style="padding: 0;">
        <div id="home-section" class="content-section active">
            {% include 'home.html' %}
        </div>
        <div id="training-section" class="content-section" style="padding: 1rem;">
            {% include 'training.html' %}
        </div>
        <div id="architecture-section" class="content-section" style="padding: 1rem;">
            {% include 'architecture.html' %}
        </div>
        <div id="preprocessing-section" class="content-section" style="padding: 1rem;">
            {% include 'preprocessing.html' %}
        </div>
        <div id="tuner-section" class="content-section" style="padding: 1rem;">
            {% include 'tuner.html' %}
        </div>


    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='js/parallax.js') }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/js/bootstrap-datepicker.js"></script>
    <script>
        $(document).ready(function () {
            $('[data-toggle="popover"]').popover();
            $('[data-toggle="tooltip"]').tooltip();
            $('#datepicker-example').datepicker({
                calendarWeeks: true,
                autoclose: true,
                todayHighlight: true
            });
        });
    </script>
</body>


</html>