{% extends 'base.html' %}

{% block content %}
<div id="main-content" style="padding: 0;">
    <div class="py-5 text-center parallax cover gradient-overlay">
        <div class="container d-flex flex-column">
            <div class="row my-auto">
                <div class="col-md-12 text-black">
                    <h1 class="mb-3 display-1"><b>Explainable AutoML</b></h1>
                    <h3 class="mb-5">Explore your AutoML model with ease</h3>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}