<!DOCTYPE html>
<html>

<head>
    <title>SQLite Data Display</title>
    <script src="https://d3js.org/d3.v7.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        function fetchData() {
            $.get('/get_data', function (data) {
                $('#data-table tbody').empty();

                data.forEach(function (row) {
                    var imageUrl = `/get_image/${encodeURIComponent(row[1])}/model`; 
                    $('#data-table tbody').append(`
                    <tr>
                        <td>${row[0]}</td>
                        <td>
                            <div class="visualization-container" id="visualization-${row[0]}">
                                <img src="${imageUrl}" alt="Model Image">
                            </div>
                        </td>
                    </tr>
                `);
                    console.log(row[0], row[1]);
                });
            });
        }

        setInterval(fetchData, 5000);

    </script>
</head>

<body>
    <h1>Data from SQLite Database</h1>
    <table id="data-table">
        <thead>
            <tr>
                <th>Trial Folder</th>
                <th>Visualization</th>
            </tr>
        </thead>
        <tbody>

        </tbody>
    </table>
</body>

</html>