<!DOCTYPE html>
<html>
<head>
    <title>Render HTML in a Div from File</title>
</head>
<body>
    <h1>Hello</h1>
    <div id="myDiv"></div>

    <script>
        // Fetch the HTML content from a file
        fetch('D:\\Courses\\Master_Thesis\\automl_exp\\MT_Code\\01_simple_plot.html')
            .then(response => response.text())
            .then(data => {
                // Find the div element
                var divElement = document.getElementById("myDiv");
                
                // Set the innerHTML property of the div to the content retrieved from the file
                divElement.innerHTML = data;
            })
            .catch(error => {
                console.error('Error:', error);
            });
    </script>
</body>
</html>