<div id="explore-tuner-div">
    <div class="row">
        <div class="col-md-12">
            <p class="text-primary">
            <h6>Explore Tuner</h6>
            <div class="col-md-2" id="dense-arch-card">
                <button class="btn btn-primary btn-sm" type="button" id="explore-tuner">Explore
                    Tuner</button>
            </div>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <section class="card"
                style="min-height:200px; height:auto; padding: 20px; background-color: #f4f4f4; border: 1px solid #ccc; border-radius: 5px;">
                <div class="row" id="tuner-explanation-div" style="width: 100%; height: 100%; overflow: auto;">
                </div>

            </section>
        </div>
    </div>
</div>